@model WebApplication7.Models.Reservation

@{
    ViewData["Title"] = "Create Reservation";
}

<h2>Create Reservation</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Property Address</label>
                <input class="form-control" value="@ViewData["PropertyAddress"]" disabled />
                <input asp-for="PropertyId" type="hidden" value="@ViewData["PropertyId"]" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#PropertyId').change(function () {
                var propertyId = $(this).val();
                if (propertyId) {
                    $.getJSON('@Url.Action("GetPropertyDetails", "Reservations")', { propertyId: propertyId }, function (data) {
                        $('#propertyImage').attr('src', data.imageUrl).show();
                    });
                } else {
                    $('#propertyImage').hide();
                }
            });
        });
    </script>
}
